@charset "utf-8";

@mixin flex($direction: row, $mainAxis: center, $secondAxis: center) {
  // $mainAxis: 水平方向[left, center, right, between, around]
  // $secondAxis: 垂直方向[top, center, bottom, stretch, baseline]
  display: flex;
  flex-direction: $direction;
  @if $mainAxis == left { justify-content: flex-start; }
  @else if $mainAxis == center { justify-content: center }
  @else if $mainAxis == between { justify-content: space-between }
  @else if $mainAxis == around { justify-content: space-around}
  @else { justify-content: flex-end; }

  @if $secondAxis == top { align-items: flex-start; }
  @else if $secondAxis == center { align-items: center; }
  @else if $secondAxis == stretch { align-items: stretch; }
  @else if $secondAxis == baseline { align-items: baseline; }
  @else { align-items: flex-end}
}

@mixin text-nowrap($width) {
  width: $width; // 要显示文字的宽度
  overflow: hidden; // 超出的部分隐藏起来
  white-space: nowrap; // 不显示的地方用省略号...代替
  text-overflow: ellipsis;/* 支持 IE */
  -o-text-overflow: ellipsis;/* 支持 Opera */
}

@mixin text-nowrap-second() {
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@mixin triangle-bottom($length, $color) {
  width: 0;
  height: 0;
  border-right: $length solid transparent;
  border-left: $length solid transparent;
  border-top: $length solid $color;
}

@mixin triangle-top($length) {
  width: 0;
  height: 0;
  border-right: $length solid transparent;
  border-left: $length solid transparent;
  border-bottom: $length solid $color;
}

@mixin center-transform() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
